* {
    margin: 0;
    padding: 0;
}

body {
    /* padding: 50px 100px; */
    background-color: #0f0d0e;
    color: #f9f4da;
    font-size: 19px;
    line-height: 1.8;
    text-align: justify;
}

h1,
h2,
h3,
h4 {
    margin-top: 4rem;
    margin-bottom: 1.5rem;
}

p {
    margin-bottom: 1rem;
}

.top-page {
    text-align: center;
}

.books-collection {
    margin-left: auto;
    margin-right: auto;
}



.warning {
    padding: 5px;
    background-color: red;
    color: whitesmoke;
    margin-bottom: 2rem;
}

table,
th,
td {
    border: 1px solid yellow;
    border-collapse: collapse;

}

th,
td {
    padding: 8px;
    text-align: center;
}