* {
    margin: 0;
    padding: 0;
}

body {
    /* padding: 50px 100px; */
    background-color: #4632b9;
    color: #f9f4da;
    font-size: 19px;
    line-height: 1.8;
    text-align: justify;
}

.top-page {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    color: orange;
    letter-spacing: 0.4rem;
}


p {
    margin-bottom: 1rem;
}

button {
    padding: 5px;
}

.top-page,
.main-content {
    text-align: center;
}

.delete_book {
    background-color: red;
}

#books-collection {
    margin-left: auto;
    margin-right: auto;
}




table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}



th,
td {

    text-align: center;
}

#books-collection th {
    background-color: rgb(0, 170, 45);
    color: whitesmoke;
    font-size: 1.2rem;
    padding: 4px 20px;
}

#books-collection td {
    font-size: 0.9rem;
    padding: 4px 10px;
}




tr:nth-child(even) {
    background-color: #bde;
    color: black;
}

tr:nth-child(odd) {
    background-color: rgba(231, 245, 126, 0.994);
    color: black;

}

tr:hover {
    background-color: darkgreen;
    color: white;
}




.form {
    display: none;
    width: fit-content;
    padding: 12px;
    background-color: brown;
    margin-left: auto;
    margin-right: auto;
}

#showFormButton {
    margin-top: 2rem;
    margin: 1rem;
    padding: 10px;
    border-radius: 33%;
    background-color: #5DBF40;
    color: ivory;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#showFormButton:hover {
    background-color: #4CAF50;
    /* Green */
    color: white;
}

#addBook,
#cancelForm {
    padding: 5px;
    margin: 15px;

}

.haveRead {
    border-radius: 55%;
    background-color: orange;
    color: black;

}